---
address: 0.0.0.0
port: 8654
master_key: zelda
repositories:
  - name: ml1
    local: /Users/lcrown/temp/module-logger/1/module-logger
    remote: https://github.com/uoracs/module-logger.git
    branch: main
    api_keys: [batman]
  - name: ml2
    local: /Users/lcrown/temp/module-logger/2/module-logger
    remote: https://github.com/uoracs/module-logger.git
    branch: main
    api_keys: [spiderman]
